.navbar-background {
  background: blue;
}

.PackMan-NavBar {
  font-family: 'Press Start 2P', cursive;
  color: yellow;
  font-size: 20px;
  -webkit-text-stroke: 1px black;
}

.PackMan-NavBar-2 {
  font-family: 'Press Start 2P', cursive;
  color: yellow;
  font-size: 14px;
  -webkit-text-stroke: 1px black;
}

.PackMan-Photo {
  height: 2rem;
  padding-left: 12px;
}

.btn-login {
  background: rgb(103, 214, 103);
  font-family: 'Press Start 2P', cursive;
  border-radius: 10px;
  padding: 0 0.4rem; 
  box-shadow: 5px 5px 15px black;
}

.cart-shop {
  height: 2.7rem;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
