/*---------------------NAVBAR-----------------------------*/
.navbar-background {
  background: blue;
}

.packman-navbar {
  font-family: 'Press Start 2P', cursive;
  color: yellow;
  font-size: 20px;
  -webkit-text-stroke: 1px black;
}

.packman-navbar-2 {
  font-family: 'Press Start 2P', cursive;
  color: yellow;
  font-size: 14px;
  -webkit-text-stroke: 1px black;
}

.packman-photo {
  height: 2rem;
  padding-left: 15px;
}

.ghosts-photo {
  height: 4rem;
  padding-left: 12px;
}

.btn-login {
  background: rgb(103, 214, 103);
  font-family: 'Press Start 2P', cursive;
  border-radius: 10px;
  padding: 0 0.4rem; 
  box-shadow: 5px 5px 15px black;
}

.cart-shop {
  height: 2.7rem;
}

/*---------------------------- BTN ITEMS ----------------------------*/

.btn-purcharse {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.btn-operation-purchase{
  background: rgb(243, 8, 8);
  font-family: 'Press Start 2P', cursive;
  padding: 0 0.4rem; 
  box-shadow: 1px 1px 3px black;
}

.counter {
  padding: 0 35px;
  box-shadow: 1px 1px 3px black;
}


/*---------------------------- MENU ----------------------------*/


.hola {
  grid-row:span;
}


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
