/*---------------------NAVBAR-----------------------------*/
html{
  background: black;
}
.navbar-background {
  background: blue;
}

.packman-navbar {
  font-family: 'Press Start 2P', cursive;
  color: yellow;
  font-size: 20px;
  -webkit-text-stroke: 1px black;
}

.packman-navbar-2 {
  font-family: 'Press Start 2P', cursive;
  color: yellow;
  font-size: 14px;
  -webkit-text-stroke: 1px black;
}

.packman-photo {
  height: 2rem;
  padding-left: 15px;
}

.ghosts-photo {
  height: 4rem;
  padding-left: 12px;
}

.btn-login {
  background: rgb(103, 214, 103);
  font-family: 'Press Start 2P', cursive;
  border-radius: 10px;
  padding: 0 0.4rem; 
  box-shadow: 5px 5px 15px black;
}

.cart-shop {
  height: 2.7rem;
}

/*---------------------------- BTN COUNTER ITEMS ----------------------------*/

.btn-purcharse {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.btn-operation-purchase{
  background: rgb(243, 8, 8);
  font-family: 'Press Start 2P', cursive;
  padding: 0 0.8rem; 
  box-shadow: 1px 1px 3px rgb(255, 255, 255);
  font-size: 1.5rem;
}

.counter {
  padding: 0 35px;
  box-shadow: 1px 1px 3px rgb(255, 255, 255);
  color: white;
  font-size: 1.5rem;
  font-family: 'Press Start 2P', cursive;
}

/*---------------------------- ITEMLIST.JS ----------------------------*/

.text-product-position{
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 2rem;
}

.heart{
  height: 1.5rem;
  background-color: black;
  align-content: center;
}

.up{
  height: 2.5rem;
  background-color: black;
  align-content: center;
}

.background-border-cards{
  background-color:rgb(233, 233, 72);
}

.mt-6{
  padding: 1.5rem;
  margin-top: 0;
}

.list-products-heart{
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
}

.list-product-text {
  font-family: 'Press Start 2P', cursive;
  color: yellow;
  font-size: 20px;
  -webkit-text-stroke: 1px black;
}

/*---------------------------- ITEM.JS ----------------------------*/

.item-card{
  display: grid;
  justify-content: center;
  background-color: blue;
}

.background-card{
  background-image:  url(images/new-pac-man.png);
}

/*---------------------------- ITEMDETAILCONTAINER.JS ----------------------------*/

.image-text-container{
  display: flex;
  align-items: center;
  background-color: black;
}

.image-hamburger{
  height: 43rem;
}

.item-title-text{
  font-family: 'Press Start 2P', cursive;
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-bottom: 2rem;
}

.item-description-text{
  font-family: 'Press Start 2P', cursive;
  color: rgb(255, 255, 255);
  font-size: 17px;
  margin-bottom: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
